# Tuple
- A tuple is a fixed-length, immutable sequence of Python objects.

In [19]:
tp = 4, 5, 6
print(tp)
nested_tup = (4, 5, 6), (7, 8)
print(nested_tup)
tup = tuple('string')
print(tup)
tup[2]
tup = tuple(['foo', [1, 2], True])
tup[1].append(3)
print(tup)
#cancatinate
tup=(4, None, 'foo') + (6, 0) + ('bar',)
print(tup)
('foo', 'bar') * 4

(4, 5, 6)
((4, 5, 6), (7, 8))
('s', 't', 'r', 'i', 'n', 'g')
('foo', [1, 2, 3], True)
(4, None, 'foo', 6, 0, 'bar')

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

## Unpacking tuples
- If you try to assign to a tuple-like expression of variables, Python will attempt to unpack the value on the righthand side of the equals sign:
- Using this functionality you can easily swap variable names, a task which in many languages might look like:
- A common use of variable unpacking is iterating over sequences of tuples or lists:

In [25]:
tup=(1,2,3)
a,b,c=tup
print(b)
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
print(c)
a,b=1,2
b,a=a,b
print(b)

2
6
1

In [28]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a,b,c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

- advanced tuple unpacking to help with situations where you may want to “pluck” a few elements from the beginning of a tuple.This uses the special syntax *rest

In [33]:
values = 1, 2, 3, 4, 5
a,b,*rest=values
print(a,b)
print(rest)

1 2
[3, 4, 5]

# Tuple methods

In [36]:
a=(1,2,3,3,5,5,6,7,3,3,2,4,5,6)
a.count(3)

4

# List
- In contrast with tuples, lists are variable-length and their contents can be modified in-place. You can define them using square brackets [] or using the list type function:

In [40]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list=list(tup)
b_list[2]='zul'
b_list

['foo', 'bar', 'zul']

In [41]:
gen=range(0,10)
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
b_list.append('asdf')
b_list

['foo', 'red', 'red', 'red', 'red', 'red', 'bar', 'zul', 'asdf', 'asdf']

In [47]:
#Using insert you can insert an element at a specific location in the list:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'red', 'red', 'red', 'red', 'bar', 'zul', 'asdf']

In [50]:
b_list.pop(2)

'red'

In [53]:
b_list.remove('zul')
b_list

['foo', 'red', 'red', 'red', 'red', 'bar', 'asdf', 'asdf']

In [58]:
print('asdf' in b_list)
'red' not in  b_list

True

False

# Concatenating and combining lists
- Similar to tuples, adding two lists together with + concatenates them:

In [59]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [63]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [ ]:
everything = []
for chunk in list_of_lists:
    everything.extend(chunk)

# Sorting
- You can sort a list in-place (without creating a new object) by calling its sort
function:

In [68]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [70]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

# Binary search and maintaining a sorted list
- The built-in bisect module implements binary search and insertion into a sorted list.bisect.bisect finds the location where an element should be inserted to keep it sorted, while bisect.insort actually inserts the element into that location:

In [71]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c,3)

5

In [73]:
bisect.insort(c,4)
c

[1, 2, 2, 2, 3, 4, 4, 4, 7]

# Slicing
- You can select sections of most sequence types by using slice notation, which in its basic form consists of start:stop passed to the indexing operator [] :

In [78]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[2:5]

[3, 7, 5]

In [77]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 3, 5, 6, 0, 1]

In [79]:
seq[:7]

[7, 2, 3, 7, 5, 6, 0]

In [80]:
seq[4:]

[5, 6, 0, 1]

In [81]:
seq[-4:]

[5, 6, 0, 1]

In [82]:
seq[-6:-2]

[3, 7, 5, 6]

In [83]:
seq[::2]

[7, 3, 5, 0]

# Built-in Sequence Functions

In [89]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i,v in enumerate(some_list):
    mapping[v]=i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [91]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

# zip
- zip “pairs” up the elements of a number of lists, tuples, or other sequences to create a list of tuples:

In [96]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
seq3 = [False, True]
zipped=zip(seq1,seq2,seq3)
list(zipped)

[('foo', 'one', False), ('bar', 'two', True)]

In [99]:
for i,(a,b) in enumerate(zip(seq1,seq2)):
    print('{0}:{1}:{2}'.format(i,a,b))

0:foo:one
1:bar:two
2:baz:three

In [102]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),('Schilling', 'Curt')]
first_name,last_name=zip(*pitchers)
print(first_name)
last_name

('Nolan', 'Roger', 'Schilling')

('Ryan', 'Clemens', 'Curt')

# dict
- dict is likely the most important built-in Python data structure. A more common name for it is hash map or associative array. It is a flexibly sized collection of key-value pairs, where key and value are Python objects. One approach for creating one is to use curly braces {} and colons to separate keys and values:

In [2]:
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [3]:
d1[2]='intergers'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 2: 'intergers'}

In [4]:
d1['b']

[1, 2, 3, 4]

In [5]:
d1[2]

'intergers'

In [7]:
'b' in d1

True

In [8]:
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 2: 'intergers',
 'dummy': 'another value'}

In [ ]:
del(d1['dummy'])

In [13]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 2: 'intergers'}

In [14]:
ret = d1.pop('b')
ret

[1, 2, 3, 4]

In [17]:
d1={'a': 'some value',
'b': [1, 2, 3, 4],
7: 'an integer',
5: 'some value',
'dummy': 'another value'}
list(d1.keys())

['a', 'b', 7, 5, 'dummy']

In [18]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer', 'some value', 'another value']

In [27]:
d1.update({'b' : 'foo', 'c' : 12})

In [29]:
x=list(d1.keys())
y=list(d1.values())

# Creating dicts from sequences
- It’s common to occasionally end up with two sequences that you want to pair up element-wise in a dict. As a first cut, you might write code like this:

In [31]:
mapping = {}
for key, value in zip(x, y):
    mapping[key] = y
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [39]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [40]:
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom', 'apple', 'atom'],
 'b': ['bat', 'bar', 'book', 'bat', 'bar', 'book']}

The built-in collections module has a useful class, defaultdict , which makes this
even easier. To create one, you pass a type or function for generating the default value
for each slot in the dict:

In [42]:
from collections import defaultdict
by_letter=defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

# Valid dict key types
- While the values of a dict can be any Python object, the keys generally have to be immutable objects like scalar types (int, float, string) or tuples (all the objects in the  tuple need to be immutable, too). The technical term here is hashability. You can check whether an object is hashable (can be used as a key in a dict) with the hash function:g'

In [44]:
hash('string')

-8626207463741639965

In [45]:
hash((1, 2, (2, 3)))

1097636502276347782

In [46]:
hash((1, 2, [2, 3])) # fails because lists are mutable

TypeError: unhashable type: 'list'

To use a list as a key, one option is to convert it to a tuple, which can be hashed as
long as its elements also can:

In [48]:
d={}
d[tuple([1,2,3])]=5
d

{(1, 2, 3): 5}

# set
- A set is an unordered collection of unique elements. You can think of them like dicts, but keys only, no values. A set can be created in two ways: via the set function or via a set literal with curly braces:

In [50]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [51]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [53]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [54]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [55]:
a.intersection(b)

{3, 4, 5}

In [61]:
x=(6,8,0)
a.add(x)
a

{(6, 8, 0), 1, 2, 3, 4, 5}

In [ ]:
a.remove(x)

In [64]:
a

{1, 2, 3, 4, 5}

In [65]:
a.pop()

1

In [68]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6,9}
a.update(b)
a

{1, 2, 3, 4, 5, 6, 9}

In [71]:
a|=b
a

{1, 2, 3, 4, 5, 6, 9}

In [72]:
a.difference(b)

{1, 2}

In [74]:
a.difference_update(b)
a

{1, 2}

In [76]:
a-=b
a

{1, 2}

In [78]:
a.symmetric_difference(b)

{1, 2, 3, 4, 5, 6, 9}

In [77]:
a^b

{1, 2, 3, 4, 5, 6, 9}

In [79]:
a.issubset(b)

False

In [80]:
b.issubset(a)

False

In [81]:
a.issuperset(b)

False

In [82]:
a.isdisjoint(b)

True

In [83]:
c = a.copy()

In [84]:
c|=b
c

{1, 2, 3, 4, 5, 6, 9}

In [91]:
d = a.copy()
d &=b
d

set()

In [95]:
my_data = [1, 2, 3, 4]
my_set={tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [97]:
my_set=set(tuple(my_data))
my_set

{1, 2, 3, 4}

# List, Set, and Dict Comprehensions
- List comprehensions are one of the most-loved Python language features. They allow you to concisely form a new list by filtering the elements of a collection, transforming the elements passing the filter in one concise expression. They take the basic form:
 **[expr for val in collection if condition]** 
- This is equivalent to the following for loop:

     result = []
     
    for val in collection:
        if condition:
        result.append(expr)

In [103]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper()for x in strings if len(x)>2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [105]:
dict_log={val:index for index , val in enumerate(strings)}
dict_log

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [104]:
unique_length={len(x) for x in strings}
unique_length

{1, 2, 3, 4, 6}

In [107]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [108]:
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)
names_of_interest

['Steven']

In [113]:
# simple

name_of_interest=[name for names in all_data for name in names
                if name.count('e')>=2]
name_of_interest

['Steven']

In [115]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flatend=[x for tup in some_tuples for x in tup ]
flatend

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [116]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flatend=[]
for tup in some_tuples:
    for x in tup:
        flatend.append(x)
flatend

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [117]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Functions
- Functions are the primary and most important method of code organization and reuse in Python. As a rule of thumb,if you anticipate needing to repeat the same or very similar code more than once, it may be worth writing a reusable function. Functions can also help make your code more readable by giving a name to a group of Python statements.

In [12]:
def myfunc(a,b,c=1.7):
    if c>1.7:
        return c*(a+b)
    else:
        return c/(a+b)
d1=int(input('enter no'))
d2=int(input('enter no'))
d3=float(input('enter no'))
myfunc(d1,d2,d3)

enter no3
enter no4
enter no1.9

13.299999999999999

# Namespaces, Scope, and Local Functions
- Functions can access variables in two different scopes: global and local. An alternative and more descriptive name describing a variable scope in Python is a namespace. Any variables that are assigned within a function by default are assigned to the local namespace. The local namespace is created when the function is called and immediately populated by the function’s arguments. After the function is finished, the localnamespace is destroyed.When func() is called, the empty list a is created, five elements are appended, and then a is destroyed when the function exits. Suppose instead we had declared a as follows:

In [15]:
def func():
    a = []
    for i in range(5):
        a.append(i)

In [29]:
a = []
def func():
    for i in range(5):
        a.append(i)
print(a)

[]

In [27]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}
f()

{'a': 5, 'b': 6, 'c': 7}

In [34]:
states = ['Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda','southcarolina##', 'West virginia?']
import re
def cleaning(strings):
    result=[]
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result
cleaning(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'Southcarolina',
 'West Virginia']

In [35]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)
clean_ops = [str.strip, remove_punctuation, str.title]

In [39]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)
clean_ops = [str.strip, remove_punctuation, str.title]
def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
            result.append(value)
    return result
clean_strings(states, clean_ops)

['Alabama',
 'Alabama',
 'Alabama',
 'Georgia!',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'georgia',
 'georgia',
 'Georgia',
 'FlOrIda',
 'FlOrIda',
 'Florida',
 'southcarolina##',
 'southcarolina',
 'Southcarolina',
 'West virginia?',
 'West virginia',
 'West Virginia']

In [40]:
for x in map(remove_punctuation, states):
    print(x)

Alabama
Georgia
Georgia
georgia
FlOrIda
southcarolina
West virginia

In [7]:
from __future__ import print_function
def exp(x,y):
    z= x**y
    print('Z =',z)
base=float (input('enter value'))
exponent=float(input('enter value'))
exp(base,exponent)

enter value4
enter value3
Z = 64.0

In [8]:
from __future__ import print_function
def exp(x,y):
    z= x**y
    print(z)

base=float (input('enter value'))
exponent=float(input('enter value'))
exp(base,exponent)
def printfib(n):
    a,b=0,1
    while b > n:
        print(b)
        a,b=b,a-b
def calcfiib(n):
    result=[]
    a,b=0,1
    while b <a:
        result.append(b)
        a,b=b,a+b

enter value2
enter value2
4.0

In [9]:
def printfib(n):
    a,b=0,1
    while b < n:
        print(b)
        a,b=b,a+b
print(printfib(23))
def calcfib(n):
    result=[]
    a,b=0,1
    while b <n:
        result.append(b)
        a,b=b,a+b
    return result
fibseries=calcfib(23)
print(fibseries)

1
1
2
3
5
8
13
21
None
[1, 1, 2, 3, 5, 8, 13, 21]

# Error Handling

In [ ]:
while True:
    try:
        x=float (input('enter value for x:'))
        y=float(input('enter value for y:'))
        if x==0 or y==0:
            break
        z= (x/2)/(x-y)
        


    except ZeroDivisionError as e:
        print('There was an erroe with code')
        print('Error Message',str(e))
    except NameError as e:
        print('There was an erroe with code')
        print('Error Message',str(e))
    except KeyboardInterrupt as e:
        print('Error Message',str(e))
    except Exception as e:
        print('There was an erroe with code')
        print('Error Message',str(e)) 
    else:
        print('solving (x/2)/(x-y) for value z',x,'and y',y,'we get result',z)
    finally:
        print('cleanup code goes here')

enter value for x:33
enter value for y:r
There was an erroe with code
Error Message could not convert string to float: 'r'
cleanup code goes here
enter value for x:44
enter value for y:5
solving (x/2)/(x-y) for value z 44.0 and y 5.0 we get result 0.5641025641025641
cleanup code goes here

# OOP:(Object-Oriented Programming)

In [12]:
import math
def calcCircumference(radius):
    return math.pi * 2 * radius

class  Circle():
    pass

circle1=Circle()
circle1.radius=4.2
print(circle1.radius)

circle2=Circle()
circle2.radius=12.33
print(circle2.radius)

4.2
12.33

In [16]:
import math,random
def calcCircumference(radius):
    return math.pi *2*radius

class Circle():
    pass
circles=[]
for i in range(1,10):
    c=Circle()
    c.radius=random.uniform(1.1,9.5)
    c.circumference=calcCircumference(c.radius)
    circles.append(c)
for c in circles:
    print('Radius',c.radius,
         'Circumference',c.circumference)

Radius 4.633044405485399 Circumference 29.11027653605644
Radius 1.3482483392684852 Circumference 8.471294155721024
Radius 3.9013626427244956 Circumference 24.51298443474587
Radius 3.164076701260639 Circumference 19.8804802401501
Radius 1.8761004345591092 Circumference 11.787886685215032
Radius 1.3983097271236131 Circumference 8.785839132349382
Radius 8.51780754589055 Circumference 53.51896322172291
Radius 9.381532927990898 Circumference 58.945909851973894
Radius 7.7856155143168575 Circumference 48.918465006905116

In [22]:
import math,random


class Circle():
    def calcCircumference(self):# now it became the property or methodof the class
        return math.pi *2*self.radius
    

crcls=[]
for i in range(1,10):
    c=Circle()
    c.radius=random.uniform(1.1,9.5)
    c.circumference=c.calcCircumference()
    crcls.append(c)
for c in crcls:
    print('Radius',c.radius,\
         'Circumference',c.calcCircumference,\
        )

Radius 5.641225426500759 Circumference <bound method Circle.calcCircumference of <__main__.Circle object at 0x7fa1a81e2250>>
Radius 9.368147675620461 Circumference <bound method Circle.calcCircumference of <__main__.Circle object at 0x7fa1a81e2410>>
Radius 3.023751655831302 Circumference <bound method Circle.calcCircumference of <__main__.Circle object at 0x7fa1a81e21d0>>
Radius 5.6514663261137095 Circumference <bound method Circle.calcCircumference of <__main__.Circle object at 0x7fa1a81e28d0>>
Radius 6.085831576031277 Circumference <bound method Circle.calcCircumference of <__main__.Circle object at 0x7fa1a81e2a90>>
Radius 4.602780739902407 Circumference <bound method Circle.calcCircumference of <__main__.Circle object at 0x7fa1a81e2390>>
Radius 5.147724070412734 Circumference <bound method Circle.calcCircumference of <__main__.Circle object at 0x7fa1a81e2c10>>
Radius 4.827659058279871 Circumference <bound method Circle.calcCircumference of <__main__.Circle object at 0x7fa1a81e2590>>
Radius 2.0393266526301046 Circumference <bound method Circle.calcCircumference of <__main__.Circle object at 0x7fa1a81e2c50>>

In [13]:
import math,random


class Circle():

    def calcCircumference(self):# now it became the property or methodof the class
        return math.pi *2*self.radius
    
    def calcDiameter(self):
        return self.radius * 2
    
    def calcArea(self):
        return math.pi * (self.radius**2)
circles=[]
for i in range(1,10):
    c=Circle()
    c.radius=random.uniform(1.1,9.5)
    #c.circumference=c.calcCircumference()
    circles.append(c)
for c in circles:
    print('Radius',c.radius,\
         'Circumference',c.calcCircumference(),\
         'Daimeter',c.calcDiameter(),\
         'Area',c.calcArea())

Radius 3.4836691464438956 Circumference 21.888538796011137 Daimeter 6.967338292887791 Area 38.1262136322021
Radius 7.164676977924145 Circumference 45.01699311838083 Daimeter 14.32935395584829 Area 161.2661071053164
Radius 2.648750138644448 Circumference 16.64258795352069 Daimeter 5.297500277288896 Area 22.041028574645175
Radius 3.8910523875782013 Circumference 24.448203191097402 Daimeter 7.7821047751564025 Area 47.564619699358275
Radius 2.124151707605296 Circumference 13.346438799446025 Daimeter 4.248303415210592 Area 14.174930383146425
Radius 4.960061754151319 Circumference 31.164987136386973 Daimeter 9.920123508302638 Area 77.29013038190543
Radius 6.979090578976081 Circumference 43.850919383297985 Daimeter 13.958181157952161 Area 153.0197691737073
Radius 6.33117189429564 Circumference 39.77992622346671 Daimeter 12.66234378859128 Area 125.92677543158327
Radius 5.2105027882053445 Circumference 32.73855456187009 Daimeter 10.421005576410689 Area 85.29216491321844

In [18]:
import math,random


class Circle():
    def __init__(self,radius):#constructor
        if radius==0:
            self.radius=random.uniform(1.1,9.5)
        else:
            self.radius=radius
        
    def calcCircumference(self):# now it became the property or methodof the class
        return math.pi *2*self.radius
    
    def calcDiameter(self):
        return self.radius * 2
    
    def calcArea(self):
        return math.pi * (self.radius**2)
circles=[]
for i in range(1,10):
    c=Circle(0.1)
    c.radius=random.uniform(1.1,9.5)
    
    circles.append(c)
for c in circles:
    print('Radius',c.radius,\
         'Circumference',c.calcCircumference(),\
         'Daimeter',c.calcDiameter(),\
         'Area',c.calcArea())

Radius 7.715397840103828 Circumference 48.477274347985485 Daimeter 15.430795680207655 Area 187.01072889928395
Radius 4.762399404305976 Circumference 29.92303796405612 Daimeter 9.524798808611951 Area 71.25272908752298
Radius 9.471431259598427 Circumference 59.51075772827028 Daimeter 18.942862519196854 Area 281.8260255149639
Radius 5.033597769730346 Circumference 31.62702754902164 Daimeter 10.067195539460691 Area 79.59886766697777
Radius 1.1561105937653087 Circumference 7.264057096220855 Daimeter 2.3122211875306173 Area 4.1990266813284975
Radius 3.0451204533411804 Circumference 19.133056091025345 Daimeter 6.090240906682361 Area 29.131230218852668
Radius 4.536119901335484 Circumference 28.501281915676028 Daimeter 9.072239802670968 Area 64.64261605563557
Radius 9.242703299476538 Circumference 58.07361756989127 Daimeter 18.485406598953077 Area 268.3786083628864
Radius 2.2699094810862057 Circumference 14.262261900188486 Daimeter 4.539818962172411 Area 16.187021754486203

# Object Inheritance

In [45]:
class shape:
    def __init__(self):
        self.color='red'
        self.sides=0
    def calcArea(self):
        return 0
    
class square:
    def __init__(self,w,c):
        shape. __init__ (self)
        self.width=w
        self.color=c
    def calcArea(self):
        return self.width**2
class circle:
    def __init__(self,r,c):
        shape. __init__ (self)
        self.radius=r
        self.color=c
    def calcArea(self):
        return math.pi*(self.radius**2)
sq1=square(3,'green')
sq2=square(6,'yellow')
circle1=circle(17,"pink")
print('square size',sq1.width,sq1.sides,sq1.color,"X",sq2.sides,sq2.width,sq2.color)
print('circle',circle1.radius,circle1.color)
print("Area",circle1.calcArea())

square size 3 0 green X 0 6 yellow
circle 17 pink
Area 907.9202768874502

In [47]:
class shape:
    def __init__(self):
        self.color='red'
        self.sides=0
    def calcArea(self):
        return 0
class quadrilateral(shape):
    def __init__(self,w,l,c):
        self.sides=4
        self.width=w
        self.length=l
        self.color=c
        
    def calcArea(self):
        return self.width*self.length
    
class square(quadrilateral):
    def __init__(self,w,c):
        quadrilateral. __init__ (self,w,w,c)


class circle:
    def __init__(self,r,c):
        shape. __init__ (self)
        self.radius=r
        self.color=c
    def calcArea(self):
        return math.pi*(self.radius**2)
sq1=square(3,'green')
sq2=square(6,'yellow')
circle1=circle(17,"pink")
print('square size',sq1.width,sq1.sides,sq1.color,"X",sq2.sides,sq2.width,sq2.color)
print('circle',circle1.radius,circle1.color)
print("Area",circle1.calcArea())

square size 3 4 green X 4 6 yellow
circle 17 pink
Area 907.9202768874502

In [53]:
class shape(object):
    def __init__(self):
        self.color='red'
        self.sides=0
    def calcArea(self):
        return 0
class quadrilateral(shape):
    def __init__(self,w,l,c):
        self.sides=4
        self.width=w
        self.length=l
        self.color=c
        
    def calcArea(self):
        return self.width*self.length
    
class square(quadrilateral):
    def __init__(self,w,c):
        super(square,self). __init__ (w,w,c)


class circle:
    def __init__(self,r,c):
        super(circle,self). __init__ ()
        self.radius=r
        self.color=c
        
    def calcArea(self):
        return math.pi*(self.radius**2)
    
class triangle:
    def __init__(self,s1,s2,s3,c):
        shape.__init__(self)
        self.s1=s1
        self.s2=s2
        self.s3=s3
        
    
sq1=square(3,'green')
sq2=square(6,'yellow')
circle1=circle(17,"pink")
t1=triangle(2,3,4,'pruple')
print('square size',sq1.width,sq1.sides,sq1.color,"X",sq2.sides,sq2.width,sq2.color)
print('circle',circle1.radius,circle1.color)
print("Area",circle1.calcArea())   
print("Triangle Area",t1)

square size 3 4 green X 4 6 yellow
circle 17 pink
Area 907.9202768874502
Triangle Area <__main__.triangle object at 0x7fbbb0d9db90>